body{
    
    text-align: center;
    background-color: #355C7D;
    color: #F8B195;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
    
}
.jumbotron{
    width: auto;
    padding: auto;
    margin: 20px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    background-image:url('therm.jpg');
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    

}

h2{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    -webkit-text-fill-color: #F67280;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 35px;
    padding: 35px;
}

.formStyle{
    background-color: #355C7D;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color:#F8B195;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 1em;
    font-weight: 100;
    color: aliceblue;

}
.formButton{
    background-color: #F8B195;
    display: inline-block;
    color:#6C5B7B;
    width: 250px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 20px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.formButton:hover{
    background-color: #F67280;
}
.formButton:active{
    position: relative;
    top: 3px;
}